.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form__team,
  .form__venue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    mat-form-field {
      width: 400px;
      transition: var(--basic-transition);
    }
  }
}

// media queries
@media screen and (max-width: 550px) {
  .form {
    .form__team,
    .form__venue {
      mat-form-field {
        width: 240px;
      }
    }
  }
}
