<section class="container">
  <article class="container__left">
    <picture class="left__pic">
      <img
        src="../../../../assets/illustrations/game_day.svg"
        alt="game day"
        class="pic__img"
        [@fadeInLeftOnEnter]
      />
    </picture>
  </article>
  <article class="container__right">
    <h1 class="right__title" [@fadeInRightOnEnter]>
      <span> Visualiza la información de tus equipos favoritos </span>
    </h1>
    <p class="right__text" [@fadeInRightOnEnter]>Todo en una sola plataforma</p>
  </article>
</section>

<footer class="footer">
  <p class="footer__text">
    Desing and develop by
    <span>David Hernandez</span>
  </p>
</footer>
