<section class="container">
  <!-- left -->
  <article class="container__left">
    <picture class="left__pic">
      <img
        src="../../../../assets/images/bg-green.png"
        alt="abstract green img"
        class="pic__img"
      />
    </picture>
    <h1 class="left__text">Nos alegra volver a verte!</h1>
  </article>
  <!-- rigth -->
  <article class="container__right">
    <button class="right__back" (click)="navigate(publicRoutes.HOME)">
      <mat-icon>
        <mat-icon class="back">keyboard_arrow_left</mat-icon>
      </mat-icon>
    </button>
    <h1 class="right__title">Ingresa</h1>
    <p class="right__text">
      Aun no tienes una cuenta?
      <span class="text__singup" (click)="navigate(publicRoutes.SINGUP)"
        >Registrate.</span
      >
    </p>
    <!-- form -->
    <form [formGroup]="form" (ngSubmit)="logIn()" class="rigth__form">
      <mat-form-field>
        <mat-label>Correo</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          type="email"
          autocomplete="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Contraseña</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          required
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
          class="hide__password"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>
      <button type="submit" class="form__btn">Ingresa</button>
    </form>
    <span class="rigth__hr"></span>
    <button class="right__google" (click)="auth.googleAuth()">
      <picture>
        <img
          src="../../../../assets/icons/google.svg"
          alt="google icon"
          height="25"
          width="25"
        />
      </picture>
    </button>
  </article>
</section>
