<section class="container">
  <h1>Visualizacón de datos</h1>

  <!-- table -->
  <article class="container__table">
    <div class="table__wrapper">
      <app-teams-table [teams]="teams"></app-teams-table>
    </div>
    <router-outlet></router-outlet>
  </article>

  <!-- charts -->
  <article class="container__chart">
    <div class="chart__pie">
      <h1 class="pie__title">Capacidad de los estadios</h1>
      <app-pie-chart></app-pie-chart>
    </div>
  </article>

  <!-- table -->
  <article class="container__table">
    <div class="table__wrapper">
      <app-standings-table></app-standings-table>
    </div>
  </article>
</section>
