.container {
  padding: 4rem 5%;
}

.container__table {
  display: flex;
  gap: 1rem;

  .table__wrapper {
    width: 100%;
    max-height: 500px;
    overflow: auto;
  }
}

.container__chart {
  .chart__pie {
    width: 50vw;
  }
}

// media queries
@media screen and (max-width: 770px) {
  .container__table {
    flex-direction: column;
  }
}
