/* You can add global styles to this file, and also import other style files */
:root {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1.125rem /* 18px */;
  line-height: 1.75rem /* 28px */;
  font-weight: 1.65rem;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--bg-primary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /* COLORS */
  --bg-primary: #1a1a1a;
  --bg-primary-transparent: rgba(26, 26, 26, 0.2);
  --bg-accent: #0e0e0e;
  --green-1: #3a8d4c;
  --green-2: #47ab5d;
  --green-3: #4ecb71;
  --gray-1: #27272a;
  --gray-2: #979797;
  --gray-3: #a1a1aa;
  --white: #ffffff;
  --white-1: #e3e3e3;

  /* GRADIENTS */
  --linear-pan-bg: linear-gradient(
    90deg,
    var(--green-3),
    var(--white),
    var(--green-3),
    var(--white),
    var(--green-3)
  );

  /* TRANSITIONS */
  --basic-transition: 0.3s ease-in;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: customGrifter;
  src: url(./assets/fonts/grifterbold.otf);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: customGrifter;
}

button {
  cursor: pointer;
}
