<section class="container" *ngIf="screenWidth >= 771">
  <button class="container__close" title="Cerrar" (click)="navigate()">
    <mat-icon>close_app</mat-icon>
  </button>

  <div class="container__info">
    <ul>
      <li>
        <picture>
          <img [src]="teamInfo.team.logo" [alt]="teamInfo.team.name" />
        </picture>
      </li>
      <li><b>Nombre: </b>{{ teamInfo.team.name }}</li>
      <li><b>Pais: </b> {{ teamInfo.team.country }}</li>
      <li><b>Fundado: </b> {{ teamInfo.team.founded }}</li>
    </ul>
    <ul>
      <li>
        <picture>
          <img
            [src]="teamInfo.venue.image"
            [alt]="teamInfo.team.name"
            height="150"
            width="150"
          />
        </picture>
      </li>
      <li><b>Nombre: </b> {{ teamInfo.venue.name }}</li>
      <li><b>Ciudad: </b> {{ teamInfo.venue.city }}</li>
      <li><b>Dirección: </b> {{ teamInfo.venue.address }}</li>
      <li><b>Capacidad: </b> {{ teamInfo.venue.capacity }}</li>
      <li><b>Superficie: </b> {{ teamInfo.venue.surface }}</li>
    </ul>
  </div>
</section>
