.container {
  width: 200px;
  position: relative;

  .container__close {
    display: grid;
    place-content: center;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    border-radius: 50px;
    padding: 2px;
    transition: var(--basic-transition);

    &:hover {
      background: var(--red-transparent);
    }
  }
}
