<nav class="nav" *ngIf="hiddeNavbar === false">
  <picture class="nav__logo" (click)="navigate(publicRoutes.HOME)">
    <img
      src="../../../assets/icons/logo1.png"
      alt="logo"
      width="50"
      height="50"
    />
  </picture>
  <ul class="nav__list">
    <button class="list__item" (click)="navigate(publicRoutes.SIGNIN)">
      Ingresa
    </button>
  </ul>
</nav>

<nav class="nav" *ngIf="changeNavContent === true">
  <picture class="nav__logo" (click)="navigate(privateRoutes.DASHBOARD)">
    <img
      src="../../../assets/icons/logo1.png"
      alt="logo"
      width="50"
      height="50"
    />
  </picture>
  <ul class="nav__list">
    <button class="list__item" (click)="navigate(privateRoutes.PROFILE)">
      Perfil
    </button>
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a home icon"
      class="list__item--logout"
      (click)="auth.logout()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </ul>
</nav>
